* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    min-height: 100%;
    
}

html {
    height: 100%;
}

.grid-container>* {
    text-align: center;
    padding: 10px;
}
.tituloNombre {
    display: grid;
    place-items: center;
}
  .textoSaid {
    width: 10ch;
    animation: texto 2s steps(18), cursor 0.5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
  }
  
  @keyframes texto {
    from {
      width: 0
    }
  }
      
  @keyframes cursor {
    50% {
      border-color: transparent
    }
  }

.Habilidades{
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .tecnologias1 {
    grid-column: 1 / 2;
  }
  .tecnologias2 {
    grid-column: 2 / 2;
  }


  .bg-aws {
    background-color: #f90; /* Cambia este valor al color que desees */
  }
  .bg-html {
    background-color: #E44D26; /* Cambia este valor al color que desees */
  }
  .bg-bootstrap{
    background-color: #712cf9;
  }
  .bg-linux{
    background-color: #185886;
  }
  .bg-github{
    background-color: #5f6163;
  }
  .bg-linkedin{
    background-color: #315980;
  }

  .contacto{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contacto h1{
    padding: 10%;
    padding-top: 5%;
  }
  .formulario{
    padding: 20%;
    padding-top: 0%;
  }